body {
    background:#777;
    padding:0;
    margin:0;
    font-weight: bold;
    overflow:hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.controls-wrapper {
    position: absolute;
    right: 0;
    color: #fff;
}

.controls {
    display: inline-block;
    text-align: center;
    margin: 0 10px;
    vertical-align: top;
}

.control {
    margin: 1px;
}

.car-contols_positioner{
    line-height: 400%;
}

.message-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.message {
    margin: auto;
    font-size: 80px;
    color: #0f0;
    font-weight: bold;
    user-select: none;
    opacity: 1;
    transition: all 0.5s ease-out;
}

.message__transparent {
    opacity: 0;
    transform: scale(5);
}

.message-container__hidden {
    display: none;
}
